:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.cartao-imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.cartao-filme {
  position: absolute;
  width: 300px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  user-select: none;
  transition: transform 0.3s ease;
  touch-action: none;
  margin-bottom: 3rem;
}

.cartao-conteudo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0) 100%);
  color: #fff;
  pointer-events: none;
}

.cartao-titulo {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.cartao-nota {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffd700;
}

.cartao-filme.hammer-pan-active {
  transition: none;
}

.container-botoes {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 20;
}

.botao-swipe {
  background: #fff;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.botao-swipe span {
  font-size: 2rem;
}

.botao-swipe:active {
  transform: scale(0.9);
}

.botao-nope {
  border: 3px solid #ff5858;
}

.botao-nope span {
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.botao-like {
  border: 3px solid #4dcc71;
}

.botao-nope.piscar-vermelho {
  background-color: #ff5858;
  transform: scale(1.1);
}
.botao-nope.piscar-vermelho span {
  color: #fff;
}

.botao-like.piscar-verde {
  background-color: #4dcc71;
  transform: scale(1.1);
}
.botao-like.piscar-verde span {
  color: #fff;
}
