:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #2c2c2c;
  overflow: hidden;
}

.cabecalho {
  flex-shrink: 0;
  background-color: #f8f8f8;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  text-align: center;
}

.cabecalho h1 {
  margin: 0;
  font-size: 3rem;
  color: #333;
}

.conteudo-principal {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.slogan {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 300;
  color: #666;
}
